name: ADCollector-build

on:
  schedule:
    - cron: '0 11 * * *' # runs at 11:00 UTC everyday
  workflow_dispatch:
    
jobs:
   
  build:
    
    runs-on: windows-latest
     
    steps:
      - name: Download ADCollector Main
        run: | 
              cd $Env:GITHUB_WORKSPACE
              powershell Invoke-WebRequest -URI https://api.github.com/repos/dev-2null/ADCollector/zipball -OutFile "ADCollector.zip"
              mkdir ADCollector
              tar -xf ADCollector.zip -C ADCollector --strip-components 1
  
      - uses: nuget/setup-nuget@v1
        with:
          nuget-api-key: ${{ secrets.NuGetAPIKey }}
          nuget-version: '5.x'

      - name: Nuget Restore
        run: nuget restore $Env:GITHUB_WORKSPACE\ADCollector\ADCollector3.sln
        
      - name: Build Certify
        run: |
              cd "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\"
              .\MSBuild.exe $Env:GITHUB_WORKSPACE\ADCollector\ADCollector3\ADCollector3.csproj
              
      - uses: actions/upload-artifact@master
        with: 
         name: ADCollector
         path: ADCollector\ADCollector3\bin\Debug\ADCollector3.exe 